<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Customer Churn</title>
  </head>
  <body>
    <form action="/submit-form" method="post">
      <label for="customerID">Customer ID:</label>
      <input type="text" id="customerID" name="customerID" /><br />

      <label for="gender">Gender:</label>
      <input type="text" id="gender" name="gender" /><br />

      <label for="SeniorCitizen">Senior Citizen:</label>
      <input type="text" id="SeniorCitizen" name="SeniorCitizen" /><br />

      <label for="Partner">Partner:</label>
      <input type="text" id="Partner" name="Partner" /><br />

      <label for="Dependents">Dependents:</label>
      <input type="text" id="Dependents" name="Dependents" /><br />

      <label for="tenure">Tenure:</label>
      <input type="number" id="tenure" name="tenure" /><br />

      <label for="PhoneService">Phone Service:</label>
      <input type="text" id="PhoneService" name="PhoneService" /><br />

      <label for="MultipleLines">Multiple Lines:</label>
      <input type="text" id="MultipleLines" name="MultipleLines" /><br />

      <label for="InternetService">Internet Service:</label>
      <input type="text" id="InternetService" name="InternetService" /><br />

      <label for="OnlineSecurity">Online Security:</label>
      <input type="text" id="OnlineSecurity" name="OnlineSecurity" /><br />

      <label for="OnlineBackup">Online Backup:</label>
      <input type="text" id="OnlineBackup" name="OnlineBackup" /><br />

      <label for="DeviceProtection">Device Protection:</label>
      <input type="text" id="DeviceProtection" name="DeviceProtection" /><br />

      <label for="TechSupport">Tech Support:</label>
      <input type="text" id="TechSupport" name="TechSupport" /><br />

      <label for="StreamingTV">Streaming TV:</label>
      <input type="text" id="StreamingTV" name="StreamingTV" /><br />

      <label for="StreamingMovies">Streaming Movies:</label>
      <input type="text" id="StreamingMovies" name="StreamingMovies" /><br />

      <label for="Contract">Contract:</label>
      <input type="text" id="Contract" name="Contract" /><br />

      <label for="PaperlessBilling">Paperless Billing:</label>
      <input type="text" id="PaperlessBilling" name="PaperlessBilling" /><br />

      <label for="PaymentMethod">Payment Method:</label>
      <input type="text" id="PaymentMethod" name="PaymentMethod" /><br />

      <label for="MonthlyCharges">Monthly Charges:</label>
      <input type="text" id="MonthlyCharges" name="MonthlyCharges" /><br />

      <label for="TotalCharges">Total Charges:</label>
      <input type="text" id="TotalCharges" name="TotalCharges" /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
